@font-face {
  font-family: 'line-app';
  src:  url('../fonts/icon-line-app/icon-line-app-lppkex.eot');
  src:  url('../fonts/icon-line-app/icon-line-app-lppkex.eot#iefix') format('embedded-opentype'),
    url('../fonts/icon-line-app/icon-line-app-lppkex.ttf') format('truetype'),
    url('../fonts/icon-line-app/icon-line-app-lppkex.woff') format('woff'),
    url('../fonts/icon-line-app/icon-line-app-lppkex.svg#icon-line-app') format('svg');
  font-weight: normal;
  font-style: normal;
}

.fa-line-app {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'line-app' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-line-app:before {
  content: "\10aaa";
}

